*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* FULL PAGE */
.full-page{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url('https://amirtham23.github.io/project1-Nexus/wall.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

/* NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px 50px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

nav ul li a:hover{
    color: aqua;
}

nav ul li button{
    font-size: 18px;
    color: #fff;
    border: none;
    background: transparent;
    cursor: pointer;
}

nav ul li button:hover{
    color: aqua;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

/* LOGIN PAGE */
.login-page{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* FORM BOX */
.form-box{
    width: 380px;
    height: 480px;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

/* BUTTON TOGGLE */
.button-box{
    width: 220px;
    margin: 30px auto;
    position: relative;
    border-radius: 30px;
    background: #222;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: white;
}

#btn{
    position: absolute;
    width: 110px;
    height: 100%;
    background: orange;
    border-radius: 30px;
    transition: 0.5s;
}

/* INPUT GROUP */
.input-group-login,
.input-group-register{
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-group-login{
    top: 150px;
    left: 50px;
}

.input-group-register{
    top: 120px;
    left: 450px;
}

/* INPUTS */
.input-field{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    color: white;
    outline: none;
}

/* BUTTON */
.submit-btn{
    width: 85%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    background: orange;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* CHECKBOX */
.checkbox{
    margin: 10px 5px;
}

span{
    color: #ccc;
    font-size: 12px;
}
